<h1><%= gettext "New genre" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.genre_path(@conn, :create)) %>

<span><%= link gettext("Back"), to: Routes.genre_path(@conn, :index) %></span>
