<h1><%= gettext "Edit sampletag" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.sampletag_path(@conn, :update, @sampletag)) %>

<span><%= link gettext("Back"), to: Routes.sampletag_path(@conn, :index) %></span>
